
export DATABASE_HOST=localhost
export DATABASE_NAME=notebook
export DATABASE_PASSWORD=admin
export DATABASE_USER=leonardo
export DATABASE_PORT=5432


# TEST DATABASE
export TEST_DATABASE_NAME=test_notebook
export TEST_DATABASE_USER=leonardo
export TEST_DATABASE_PASSWORD=admin
export TEST_DATABASE_HOST=localhost
export TEST_DATABASE_PORT=5432